os:
  - linux
language: node_js
node_js:
  - "6"
  - "7"
  - "8"
  - "9"
  - "10"
  - "12"

script:
  - npm test

after_success:
  - npm install coveralls
  - cat ./tests/coverage/lcov.info | coveralls
